@charset "UTF-8";
body {
    background-color: #272932;
    font-family: Arial, Helvetica, sans-serif;
}
header {
text-align: center;
color: #B80C09 ;
}
section {
    margin: auto;
    width: 500px;
    text-align: center;
    background-color: #8367C7;
    padding: 7px;
    border-radius: 7px;
    color: #272932;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.781);
}
p {
    font-size: 1.2em;
}
footer {
    text-align: center;
font-style: italic;
}

a {
    color:#B80C09 ;
}
img {
    border-radius: 7px;
    margin: 0px;
}